@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1F2025;
}

.home-screen {
  background-image: url(../../public/Grid.png);
  background-size: 100% 100%;
}

.bg-sign {
  background-image: url(../../public/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-gradient {
  background-image: url(../../public/signInGradient.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.button-signin {
  box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.20);
}


.headline {
  text-align: center;
  color: var(--light-100, #FFF);
  font-family: 'Urbanist', sans-serif;
}

.header__timer {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.20) -25.07%, rgba(255, 255, 255, 0.00) 51.22%, rgba(255, 255, 255, 0.20) 111.34%);
  backdrop-filter: blur(146.5px);
}

.nav__items:hover {
  border-radius: 16.337px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.21) -254.09%, rgba(255, 255, 255, 0.00) 99.84%);
}