@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1F2025;
}

.bg-sign {
  background-image: url(../../public/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-gradient {
  background-image: url(../../public/signInGradient.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.button-signin {
  box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.20);
}


.headline {
  text-align: center;
  color: var(--light-100, #FFF);
  font-family: 'Urbanist', sans-serif;
}